/*
Styles defoult
*/
html {
    height: 100%;
}

body {
    /*height: 100%; problemas en opera*/
    margin: 0;
    font-family: 'Roboto';
}

ul {
    padding: 0
}
.mesa-interactiva {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    animation: backgroudColor 5s ease-in-out infinite;
    background: linear-gradient(150deg, #663797 39%, #00BCD4 100%);
    background-attachment: fixed;
    background-size: 200% 200%;
}

/*
Styles Custom
*/

.drop-zone {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.drop-zone .data-phones {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.drop-zone .data-phones .content-phone-one,
.drop-zone .data-phones .content-phone-two {
    width: 50%;
}

.canvasArea {
    border-radius: 15px;
    background-color: #efefef;
    display: block;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
}

.listImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listImg li {
    padding: 10px 20px;
    display: inline-block;
    width: 120px;
}

.listImg li img {
    width: 100%;
}

.listImg li p {
    text-align: center
}

.slider {
    width: 670px;
    height: auto;
    display: flex;
    overflow-x: auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);

    border-radius: 15px;
}

.slide {
    width: 170px;
    flex-shrink: 0;
    height: 100%;
}

.drop-phone {
    z-index: 2;
}

.content-phone-two,
.content-phone-one {
    z-index: 1;
    transition: all .38s ease;
}

.content-phone-one {
    transform: translateX(-30%);
}

.content-phone-two {
    transform: translateX(30%);
}

.content-phone-two.phone-selected,
.content-phone-one.phone-selected {
    transform: translateX(0);
    transition: all .5s cubic-bezier(0.25, 0.71, 0.62, 1.49);
}

.content-phone-one .circle-data,
.content-phone-two .circle-data {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
    background: #F44336;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.25, 0.71, 0.62, 1.49);
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: scroll;
}

.content-phone-two .circle-data {
    margin-right: 20px;
    margin-left: auto;
}

.circle-data:hover {
    width: 180px;
    height: 100px;
    border-radius: 14px;
    transition: all .38s ease;

}

.circle-data.desc .descripcion.detail-data {
    display: none;
}

.circle-data.desc:hover {
    align-items: flex-start;
    width: 230px;
    height: 200px;
    padding: 10px;
    display: block;
}

.circle-data.desc:hover .descripcion.detail-data {
    display: block;
}

.circle-data .detail-data {
    font-size: 18px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .28s ease;
}

.circle-data:hover .detail-data {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .28s ease;
}

.circle-data .icon {
    opacity: 1;
    transition: all .28s ease;
}

.circle-data:hover .icon {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .28s ease;
}

/*Animations*/

@keyframes backgroudColor {
    0% {
        background-position: 0% 50%;
    }
    20% {
        background-position: 80% 50%;
    }
    60% {
        background-position: 50% 80%;
    }
    80% {
        background-position: 80% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Scroll style*/
#style-scroll::-webkit-scrollbar {
    height: 8px;
    width: 10px;

}

#style-scroll::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 4px solid rgba(0, 0, 0,.5 );
    background-clip: padding-box;
}


#style-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*Data phones styles*/

.data-phones{
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
}

.content-phone-one {
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 10px;

    animation: bounceInRight;
    animation-duration: 2s;
    animation-delay: 1s;
}
.content-phone-two{
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 10px;

    animation: bounceInLeft;
    animation-duration: 2s;
    animation-delay: 1s;
}

.nombre, .precio, .marca, .modelo, .descripcion, .color{
    margin-top: 10px;
    margin-left: 10px;
}


