/*
Styles defoult
*/
body {
    margin: 0;
    font-family: 'Roboto';
}

ul {
    padding: 0
}

/*
Styles Custom
*/

.container-fluid{
    height: 50%;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.canvasArea {
    border-radius: 15px;
    background-color: #f0f0f0;
    display: block;
}

.listImg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.listImg li {
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
}

.listImg li img {
    width: 100%;

}
.listImg li p{
    text-align: center
}
/*Caurusel properties*/
.caruosel-phones{
      width: 100%;
      max-width: 50rem;
      margin: 0 auto;
}