/*
Styles defoult
*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

ul {
    padding: 0
}

.mesa-interactiva {

    height: 100%;
    display: block; /*flex*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    animation: backgroudColor 5s ease-in-out infinite;
    background: -moz-linear-gradient(150deg, #0E6BEE 39%, #4CFFA3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, 150deg, color-stop(39%, 0 E6BEE), color-stop(100%, 4 CFFA3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(150deg, #0E6BEE 39%, #4CFFA3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(150deg, #0E6BEE 39%, #4CFFA3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(150deg, #0E6BEE 39%, #4CFFA3 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(150deg, #0E6BEE 39%, #4CFFA3 100%); /* W3C */
    background-attachment: fixed;
    background-size: 200% 200%;
}

/*
Styles Custom
*/

.drop-zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop-zone .data-phone {
    width: 100%;
}

.canvasArea {
    border-radius: 15px;
    background-color: #efefef;
    display: block;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
}

.listImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listImg li {
    padding: 10px 20px;
    display: inline-block;
    width: 120px;
}

.listImg li img {
    width: 100%;
}

.listImg li p {
    text-align: center
}

.slider {
    width: 670px;
    height: auto;
    display: flex;
    overflow-x: auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);

    border-radius: 15px;
}

.slide {
    width: 170px;
    flex-shrink: 0;
    height: 100%;
}

/*Animations*/

@keyframes backgroudColor {
    0% {
        background-position: 0% 50%;
    }
    20% {
        background-position: 80% 50%;
    }
    60% {
        background-position: 50% 80%;
    }
    80% {
        background-position: 80% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*scroll style*/
#style-scroll::-webkit-scrollbar {
    height: 5%;
}

#style-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
}

#style-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3)
}

#style-scroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391A6, #536175);
}
